<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Django-ChatApp</title>
    {% endif %}

    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .wrapper2 {
            border-radius: 8px;
        }

        form {
            font-size: 12px;
        }
    </style>
    
</head>
<body>
    <div class="container wrapper vh-100" style="max-width: 600px;">
        <div class="bg-light p-2 wrapper2">
            <div class="container">
                <div class="error-section">
                    {% for msg in messages %}
                        <div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
                            {{ msg }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
    
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>